<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cissy</title>
</head>
<body>
    <header><img src="images/dog.jpg"></header>
    {{{body}}}
    <div>-----------by Cissy</div>
</body>
</html>